/BmpHeaderDescriptor.class
/BmpHeaderDirectory$BitmapType.class
/BmpHeaderDirectory$ColorEncoding.class
/BmpHeaderDirectory$ColorSpaceType.class
/BmpHeaderDirectory$Compression.class
/BmpHeaderDirectory$RenderingHalftoningAlgorithm.class
/BmpHeaderDirectory$RenderingIntent.class
/BmpHeaderDirectory.class
/BmpReader.class
/package-info.class
