/HeifBoxHandler.class
/HeifBoxTypes.class
/HeifContainerTypes.class
/HeifDescriptor.class
/HeifDirectory.class
/HeifHandlerFactory.class
/HeifItemTypes.class
/HeifPictureHandler.class
/package-info.class
