/DuckyDirectory.class
/DuckyReader.class
/Knot.class
/PhotoshopDescriptor.class
/PhotoshopDirectory.class
/PhotoshopReader.class
/PhotoshopTiffHandler.class
/PsdHeaderDescriptor.class
/PsdHeaderDirectory.class
/PsdReader.class
/Subpath.class
/package-info.class
