/GifAnimationDescriptor.class
/GifAnimationDirectory.class
/GifCommentDescriptor.class
/GifCommentDirectory.class
/GifControlDescriptor.class
/GifControlDirectory$DisposalMethod.class
/GifControlDirectory.class
/GifHeaderDescriptor.class
/GifHeaderDirectory.class
/GifImageDescriptor.class
/GifImageDirectory.class
/GifReader.class
/package-info.class
