/AuxiliaryTypeProperty.class
/Box.class
/ColourInformationBox.class
/FileTypeBox.class
/FullBox.class
/HandlerBox.class
/ImageRotationBox.class
/ImageSpatialExtentsProperty.class
/ItemInfoBox$ItemInfoEntry.class
/ItemInfoBox.class
/ItemLocationBox$Extent.class
/ItemLocationBox.class
/ItemProtectionBox$ProtectionSchemeInfoBox$OriginalFormatBox.class
/ItemProtectionBox$ProtectionSchemeInfoBox.class
/ItemProtectionBox.class
/PixelInformationBox.class
/PrimaryItemBox.class
